* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(209, 223, 218);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  height: 100px;
  box-shadow: black;
}

.trybewarts-header-logo {
  height: 70px;
}

h1 {
  font-size: 70px;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(69, 31, 83);
  font-family: fantasy;
  letter-spacing: 5px;
}

.trybewarts-login {
  display: flex;
  justify-content: space-between;

}

h2 {
  margin: 20px;
  letter-spacing: 3px;
  font-size: 30px;
  color: rgb(69, 59, 71);
  font-family: Harry Potter, sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

.side-by-side {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  align-content: space-around;
}

hr {
  margin: 15px;
}

.side-by-side-column {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.side-by-side-column-right {
  display: flex;
  align-content: center;
}

footer {
  text-align: center;
  background-color: rgb(70, 56, 73);
  color: aliceblue;
  margin-top: 20px;
}

#trybewarts-forms-logo {
  height: 500px;
  width: 675px;
  display: flex;
  align-self: center;
}
